.chapter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;


  &:hover {
    transform: scale(0.8);
    box-shadow: none;


    .chapterContent {
      background-color: #340e70;
    }

    .icon {
      fill: #ffffff;
    }
  }

  .chapterContent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(200, 196, 196, 0.5);
    width: 200px;
    height: 200px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(115, 115, 115, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .icon {
    fill: #340e70;
    transition: fill 0.3s ease;
  }

  p {
    margin-top: 20px;
  }
}

