.header {
  display: flex;
  align-items: center;

  .logo {
    position: relative;
    width: 100px;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: scale(1.3);
    }
  }

  .menu {
    margin-left: 50px;
    ul {
      display: flex;
      justify-content: space-between;

      li {
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        margin-right: 35px;
        position: relative;
        transition: all 0.3s ease, transform 0.3s ease;

        &:hover {
          color: #2d66ea;
        }

        .arrow {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transition: transform 0.3s ease, stroke 0.3s ease;
        }

        &:hover .arrow {
          transform: translateY(-50%) rotate(-180deg);

          & path {
            stroke: #2d66ea;
          }
        }
      }
    }
  }
}
